<%- include("partials/header") %>
<body>
    <div align="Center">
        <img src="https://www.carboncents.com/logo-1.png" width="350" height="250"/>
    </div>
    <div class="d-flex justify-content-end mx-5 px-3">
      <a href="/logout"><button class="btn btn-secondary ">Logout</button></a>
    </div>
    <div class="d-flex justify-content-end mx-5 px-3">
      <a href="/form"><button class="btn btn-secondary ">Add Document</button></a>
    </div>
    <div class="container my-5">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Company Name</th>
                <th scope="col">Representative name</th>
                <th scope="col">Document name</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
              <% contents.forEach((content, index) => { %>
                <tr>
                  <td scope="row"><%= index+1 %></td>
                  <td><%= content.CompanyName %></td>
                  <td><%= content.RepName %></td>
                  <td><%= content.DocName %></td>
                  <td>mark@example.com</td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
      
    <!-- <div class="" style="margin: 0 10% 5% 10%; padding: 5% 5%">
        <table class="table border">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">Company</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>CarbonCents</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>CarbonCents</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>CarbonCents</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>CarbonCents</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>CarbonCents</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>CarbonCents</td>
            </tr>
            </tbody>
        </table>
    </div>
</body> -->

<%- include("partials/footer") %>